*{
    margin: 0;
    padding: 0;
}

html,body{
    /* height: 100%; */
    background-color:antiquewhite;
}

nav{
    /* height: 6.5%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    co
}

.brand img{
    height: 44px;
}
